<div class="sam-iot-2020-about text-center margin-top-40">
  <div class="row">
    <div class="col-sm-14 col-sm-offset-5 text-center">
      <h2>About the Event</h2>
      <p>Mark your calendars for Eclipse SAM IoT 2020, Sept 16-17.
        The Eclipse SAM IoT conference will bring together industry
        experts and researchers working on the next-generation IoT,
        especially focussing on security and privacy, artificial
        intelligence, and modelling.</p>

      <p>The call for papers is open. Download the call for papers
        now and talk with your colleagues about participating at Eclipse
        SAM IoT 2020.</p>
      <p class="margin-top-30"><a class="btn btn-primary" href="#">Download Call for Papers</a></p>
        <h3>Co-organized by:</h3>
        <p><img src="images/links_foundation_logo.png" alt="Links Foundation logo" width="150"></p>
    </div>
  </div>
</div>